app-navbar

app-spinner(*ngIf="isLoading")
.container.task-details(*ngIf="!isLoading && task")
  .row
    .col
      h2 {{ task.name }}
      p
        strong.me-1 Done:
        span {{ task.done ? 'Yes' : 'No' }}
      div
        a.btn.btn-primary.me-1(routerLink="/tasks/{{ task.id }}/edit") Edit
        a.btn.btn-secondary(routerLink="/tasks") Cancel
