app-navbar

app-spinner(*ngIf="isLoading")
.container.user-details(*ngIf="!isLoading && user")
  .row
    .col
      h2 {{ user.name }}
      p
        strong Email:
        a(href="mailto:{{ user.email }}") {{ user.email }}
      .buttons
        a.btn.btn-light(routerLink="/users") Cancel
        a.btn.btn-primary(routerLink="/users/{{ user.id }}/edit") Edit
