app-navbar

.container.about
  .row
    .col
      h2 Angular-Starter
      p
        strong Production:
        span {{ production }}
      p
        strong Version:
        span {{ version }}
      p
        strong SourceType:
        span {{ sourceType }}