app-navbar

.container.about
  .row
    .col
      .card 
        .card-body
          h5.card-title Angular-Starter
          ul
            li
              strong.me-1 Production:
              span {{ production }}
            li
              strong.me-1 Version:
              span {{ version }}
            li
              strong.me-1 SourceType:
              span {{ sourceType }}
