doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Angular (v2+) Starter
    base(href="/")
  body
    am-app
      .mb-3
      .text-center
        h3 Loading...
        .spinner-border(role="status")
