.form-check.form-check-inline(*ngFor="let role of roles")
  input.form-check-input(
    type="checkbox"
    '[id]'="role.id"
    '[(ngModel)]'="selectedRoles[role.id]"
    '[ngClass]'="{ 'is-invalid': isNoRoleSelected }"
    '(change)'="rolesChange()"
  )
  label.form-check-label('[for]'="role.id") {{ role.name }}
.invalid-input(*ngIf="isNoRoleSelected") Select at least one role
