.role-list
  table.roles
    margin-top: 10px
    th.actions,
    td.actions
      width: 190px
      button
        margin: 0 2px
  div.buttons > a
  div.buttons > button
    margin-right: 5px

.role-details 
  p > strong
    margin-right: 5px
